.main-content {
  padding: 24px 130px 80px;
  position: relative;
  min-height: calc(100vh - 195px);
}
h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #3C2F1E;
  margin: 0;
}
.copyright-container {
  margin: 48px 112px;
  padding: 24px 40px;
  background-color: #fff;
  min-height: 383px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;;
}